@media only screen and (max-width: 576px){
.banner_lef{
    width: 80%;
}
.banner_img {
   width: 100%;
   margin-bottom: 40px;
}
.banner_rig{
    width: 92%;
}
.information{
    width: 76%;
    margin: 10px auto;
}
.banner_link{
    width: 70%;
    margin: 0 auto;
}
.contact, .download {
    padding: 10px 4px;
    margin: 0 auto;
}
.download{
    margin-bottom: 14px;
}
.bottom_content {
    width: 90%;
}
.bottom_inner{
    width: 50%;
}
.inner_content, .inner_content2, .inner_content3, .inner_content4{
    width: 92%;
    margin-bottom: 20px;
}
.inner_content, .inner_content3{
    margin-left: 0;
}
.inner_content2, .inner_content4{
    margin-left: 15px;
}
.edex_inner{
    width: 90%;
}
.edex_content{
    width: 90%;
    margin-bottom: 20px;
}
.edex_content:nth-child(2) .edex_bottom, .edex_content:nth-child(2) .edex_top{
    margin-left: auto;
}
.works_inner{
    width: 90%;
}
.work_img{
    width: 50%;
    margin-bottom: 16px;
}
.footer_inner{
    width: 70%;
}
}