*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    font-weight: 900;
}
body{
    font-family: "OpenSans";
}
/* header_start */
header{
    background-color: #343a40;
    padding: 22px 0;
}
header h2{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
/* header_end */

/* banner_start */
.banner{
    padding: 58px 0;
}
.banner_inner{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.banner_lef, .banner_rig{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.banner_img{
    width: 80%;
    display: block;
    background-color: #fff;
    padding: 6px 6px 2px 6px;
    box-shadow: 0 2px 4px #ebebeb;
}
.banner_img img{
    width: 100%;
}
.banner_rig h2{
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    text-transform: capitalize;
    color: #666666;
    padding: 0 0 16px 0;
}
.banner_rig p, .information h3{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    color: #666666;
    padding: 0 0 10px 0;
}
.information{
    padding: 10px 0 0 0;
}
.information h3{
    text-transform: capitalize;
    padding: 0 0 4px 0;
}
.information h3 b{
    color: #040404;
}
.banner_link{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 0 0;
}
.download{
    display: flex;
    flex-wrap: wrap;
    background-color: #00b4d9;
    padding: 12px 18px;
    border-radius: 4px;
    margin: 0 10px 0 0;
}
.download_img{
    background: url("../images/cowsprite.png") no-repeat -57px -303px;
	width: 20px;
	height: 19px;
}
.download a{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 8px 0;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    background-color: #dc3545;
    padding: 12px 18px;
    border-radius: 4px;
    margin: 0 10px 0 0;
}
.contact_img{
    background: url("../images/cowsprite.png") no-repeat -55px -343px;
	width: 20px;
	height: 16px;
    margin: 2px 0 0 0;
}
.contact a{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 1px 8px 0;
}
/* banner_end */

/* wid_start */
.wid{
    background-color: #f0f0f0;
    padding: 64px 0;
}
.wid_top h2{
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    color: #252525;
    margin: 0 0 40px 0;
}
.bottom_content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.bottom_inner{
    width: 25%;
    text-align: center;
    margin: 0 auto;
}
.inner_content{
    width: 180px;
    background-color: #fff;
    box-shadow: 0 6px 20px 4px #f8f8f8;
    overflow: hidden;
    padding: 0 0 30px 0;
}
.inner_top {
    padding: 40px 0 12px;
}
.inner_top h2{
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    padding: 6px 0 0 0;
}
.inner_bottom p{
    text-align: center;
    font-size: 9px;
    line-height: 19px;
    color: #666;
    padding: 0 14px;
}
.inner_content2{
    padding: 0 0 68px 0;
    margin: 0 auto 0 5px;
}
.inner_content3{
    padding: 0 0 48px 0;
    margin: 0 5px 0 auto;
}
.inner_content4{
    padding: 0 0 30px 0;
    margin: 0 0 0 auto;
}
/* wid_end */

/* edu_ex start */
.edu_ex{
    padding: 64px 0;
}
.edex_inner{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
}
.edex_content{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.edex_content:nth-child(2) .edex_top, .edex_content:nth-child(2) .edex_bottom{
    margin-left: 108px;
}
.edex_top h2{
    font-size: 14px;
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
    color: #666;
    margin: 0 0 20px 0;
}
.edex_para{
    width: 360px;
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px 0;
    margin: 0 0 16px 0;
}
.edex_para h4{
    font-size: 14px;
    color: #666;
    padding: 0 0 8px 20px;
}
.edex_para h5{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #666;
    padding: 0 0 8px 20px;
}
.edex_para p{
    font-size: 12px;
    font-weight: 100;
    color: #666;
    padding: 0 0 8px 20px;
}
/* edu_ex end */

/* works_start */
.works{
    background-color: #f2f2f2;
    padding: 66px 0;
}
.works_inner{
    width: 80%;
    margin: 0 auto;
}
.works_top h2{
    font-size: 28px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    color: #252525;
    margin: 0 0 50px 0;
}
.works_images{
    display: flex;
    flex-wrap: wrap;
}
.work_img{
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 4px;
}
.works_img{
    width: 350px;
    padding: 0 6px;
    margin: 0 auto;
}
.works_img img{
    width: 100%;
    display: block;
}
/* works_start */

/* footer_start */
.footer{
    background-color: #1c1c20;
    padding: 72px 0;
}
.footer_inner{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
.footer_link{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    position: relative;
    margin: 0 auto 40px;
}
.fb{
    background: url("../images/cowsprite.png") -65px -111px;
	width: 14px;
	height: 24px;
    position: absolute;
    top: 12px;
    left: 18px;
}
.twit{
    background: url("../images/cowsprite.png") no-repeat -64px -156px;
	width: 24px;
	height: 20px;
    position: absolute;
    top: 15px;
    left: 14px;
}
.insta{
    background: url("../images/cowsprite.png") no-repeat -57px -63px;
	width: 30px;
	height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.linkedin{
    background: url("../images/cowsprite.png") no-repeat -58px -201px;
	width: 30px;
	height: 30px;
    position: absolute;
    top: 7px;
    left: 10px;
}
.google{
    background: url("../images/cowsprite.png") no-repeat -59px -254px;
	width: 30px;
	height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.footer p{
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
/* footer_end */
